h1 {
    text-align: center;
    color: purple;
    border: 3px solid black;
}

h2 {
    color: green;
    font-style: italic;
    margin-top: 40px;
}

h3 {
    color: blueviolet;
    font-weight: bold;
}

li {
    color: blueviolet
}